<table class="table table-striped" style="margin-top: 20px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Student name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td> {{ student }} </td>
            <td>
                <a (click)="deleteStudent(i)"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                        <path fill-rule="evenodd"
                            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                    </svg>
                </a>
                <a (click)="swapTop(i)" *ngIf="i != 0"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                        class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd"
                            d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z" />
                    </svg>
                </a>
                <a (click)="swapBot(i)" *ngIf='i != students.length - 1'><svg width="1.5em" height="1.5em"
                        viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.646 9.646a.5.5 0 0 1 .708 0L8 12.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
                        <path fill-rule="evenodd" d="M8 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<button type="button" id="toggleButton" class="btn btn-primary" data-toggle="modal" data-target="#modal" hidden="true">
    Launch modal
</button>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Send a student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="removeTaken()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="removeTaken()">Close</button>
            </div>
        </div>
    </div>
</div>