<div class="row">
  <div class="mx-auto" style="width: 65%;">
    <h2 style="margin-top: 20px;">Create a session</h2>
    <form [formGroup]="createForm" (ngSubmit)="createRoom()">
      <div class="form-group">
        <label for="pin">PIN number</label>
        <input type="number" id="pin" class="form-control" formControlName="pin">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <button class="btn btn-primary" [disabled]="createForm.invalid" type="submit">Create session
      </button>
    </form>
    <p class="text-danger" style="margin-top: 1em;">{{ errorMessage }}</p>
  </div>
</div>