<div class="row">
  <div class="mx-auto" style="width: 65%;">
    <h2 style="margin-top: 20px;">Join session</h2>
    <form [formGroup]="enterForm" (ngSubmit)="enterRoom()">
      <div class="form-group">
        <label for="pin">PIN number</label>
        <input type="number" [ngClass]="['form-control', getValidStatus('pin')]" id="pin" class="form-control" formControlName="pin">
        <div class="invalid-feedback"> {{ getFormValidationErrors("pin") }} </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [ngClass]="['form-control', getValidStatus('password')]" id="password" class="form-control" formControlName="password">
        <div class="invalid-feedback"> {{ getFormValidationErrors("password") }} </div>
      </div>
      <button class="btn btn-primary" style="margin-bottom: 1rem;" [disabled]="enterForm.invalid" type="submit"
        (click)="supervisor = true">Join as supervisor
      </button>
      <button class="btn btn-primary float-md-right" [disabled]="enterForm.invalid" type="submit">Join as examiner
      </button>
    </form>
    <ngb-alert [dismissible]="false" type="danger" *ngIf="errorMessage" style="margin-top: 1rem; text-align: center;">
      {{ errorMessage }}
    </ngb-alert>

    <div class="d-flex justify-content-center" *ngIf="this.entering && !errorMessage">
      <strong>Loading...</strong>
      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
  </div>
</div>